.hero{
    background-color: rgb(202, 202, 202);
    height: 270px;
}

.hero h1{
    text-align: center;
    color: rgb(31, 31, 31);
    font-size: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
